#num1, #num2, #num3, #num4, #num5, #num6 {
    padding: 2em;
}
/* 
#num1 {
    background-color: #ff0018;
}

#num2 {
    background-color: #ffa52c;
}

/* #num3 {
    background-color: #ffff41;
} */
/*
#num4 {
    background-color: #008018;
}

#num5 {
    background-color: #0000f9;
}

#num6 {
    background-color: #86007d;
} */